<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
      /* Email styles need to be inline */
    </style>
  </head>

  <body>
    <!--<%= yield %> -->
    <p>Id: <%=@transaction.id%></p>
    <p>Dinero a enviar: <%=@transaction.money_sent%></p>
    <p>Tasa: <%=@transaction.rate%></p>
    <p>Encargado: <%=@transaction.user%></p>
  </body>
</html>
